/* Fjern "made with wordpress" fra footer */
.site-info {
  display: none;
}

/* Bonneanbefalinger */
.section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  margin-bottom: 5%;
}

.section1 h2 {
  margin: 0;
}

.anbefalingcontainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 5%;
  cursor: pointer;
  margin-top: 5%;
}

/* Style på KNAPPER */
#filtrering button {
  color: white;
  background-color: #d1d6ce;
  border-radius: 5%;
  gap: 10px;
  font-weight: bold;
  border-color: #d1d6ce;
  border: 5px solid;
}

#filtrering button:hover {
  background-color: white;
  color: #d1d6ce;
  border-radius: 5%;
  gap: 10px;
  font-weight: bold;
  border-color: #d1d6ce;
  border: 5px solid;
}

/* Singleview */
.styledetalje {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2%;
  margin: 4%;
  margin-inline: 8%;
}
