/* Fjern "made with wordpress" fra footer */
.site-info {
  display: none;
}

h1,
.section1,
#filtrering,
.anbefalingcontainer {
  margin-inline: 5%;
}

/* Skrifttyper */
@font-face {
  font-family: "syne";
  src: url(Syne/Syne-VariableFont_wght.ttf) format(ttf);

  font-family: "cormorant garamond";
  src: url(Cormorant_Garamond/CormorantGaramond-Regular.ttf) format(ttf);
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  font-weight: 600;

  margin-block: 5%;
}

p {
  font-family: "cormorant garamond", serif;
  font-weight: 500;
}

/* Bønneanbefalinger */
.section1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20%;
  margin-bottom: 5%;
}

.section1 h2 {
  margin: 0;
}

/* Streg under h2 */
.section1 h2::after {
  content: "";
  display: block;
  background-color: #a5aca0;
  width: 300px;
  height: 1.5px;
  margin-top: 5px;
}

/*Puttede et ID på .anbefalingcontainer, så den ikke har indflydelse på singeview*/
#anbefaling-test {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 8%;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 30%;
}

/* Fjerner stort mellemrum mellem billede og navn */
#anbefaling-test img {
  margin-bottom: 0;
}

#anbefaling-test h2 {
  padding-top: 0;
}

/* Style på KNAPPER */
#filtrering button {
  color: white;
  background-color: #d1d6ce;
  border-radius: 2rem;
  font-weight: bold;
  border-color: #d1d6ce;
  border: 4px solid;
}

#filtrering button:hover {
  background-color: white;
  color: #d1d6ce;
  border-radius: 2rem;
  font-weight: bold;
  border-color: #d1d6ce;
  border: 4px solid;
}

/* Singleview */

/*Puttede et ID på .anbefalingcontainer, så den ikke har indflydelse på singeview*/
#detalje-test .styledetalje {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.5fr;
  gap: 5%;
  margin-block: 5%;
}

#detalje-test .styledetalje .left_col {
  padding: 10%;
  grid-column: 1/3;
}

.firkant {
  background-color: #a5aca0;
  height: 100%;
  width: 150%;
  grid-column: 2/6;
}

#detalje-test .styledetalje .right_col {
  grid-column: 3/5;
}

#content .site-content {
  padding: 0%;
}

/* Responsive */
@media (max-width: 900px) {
  h1,
  .section1,
  #filtrering,
  .anbefalingcontainer {
    margin-inline: 5%;
  }

  #anbefaling-test {
    margin-top: 10%;
    margin-bottom: 60%;
  }

  .section1 {
    gap: 8%;
    margin-bottom: 18%;
  }
}
